@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
}

body {
    background: rgb(244, 244, 244);
    background: linear-gradient(155deg, rgba(244, 244, 244, 1) 0%, rgba(243, 252, 255, 1) 100%);
}

a {
    text-decoration: none;
}

.header {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header {
    background-color: #EBF3F5;
    ;
    /* background-image: url("Hände.jpg"); */
    background-size: contain;
}

#logo {
    width: 200px;
    height: auto;
    padding-bottom: 40px;
}

h1 {
    color: rgb(87, 87, 87);
    size: 20px;
    font-weight: lighter;
    width: 30%;
}

.barnav {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(163, 162, 162);
}

.navelement {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: large;
}

.navelement a {
    color: white;
}

.navelement:hover {
    color: #84a7ba;
    background-color: rgb(112, 112, 112);
}

.heading {
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: xx-large;
    font-weight: 700;
}

footer {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    background-color: rgb(212, 212, 212);
    align-items: center;
    justify-content: space-evenly;
}

.footerelement {
    text-align: center;
}


/* index.html */

#headingFans {
    width: 100%;
    padding: 20px;
    margin: auto;
    font-weight: bold;
    float: left;
}

.fans {
    width: auto;
    margin: 50px;
    display: flex;
}

.fan {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.fan .info {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebebeb;
    opacity: 0.7;
    border-style: double;
    border-color: rgb(184, 184, 184);
}

.fan .info .infotext {
    margin: 40px;
    line-height: 190%;
}

.fan .bild {
    width: 50%;
    display: flex;
    justify-content: center;
}


/* infomaterial.html*/

#headingInfomaterial {
    width: 100%;
    padding: 20px;
    margin: auto;
    font-weight: bold;
    float: left;
}

.infomaterial {
    width: 100%;
    padding-bottom: 40px;
}

.containerInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: auto;
}

.infolist {
    border-left: 5px solid #bfddf1;
    padding: 5px;
}

.listitem {
    font-size: 1.125rem;
    position: relative;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    line-height: 1.78;
    list-style-type: none;
    cursor: pointer;
    display: block;
    border-bottom: 2px solid rgb(244, 243, 234);
    margin: 0px;
    padding: 16px 48px 16px 20px;
    text-decoration: none;
    background: linear-gradient(to right, rgba(191, 221, 241, 1) 50%, rgb(255, 255, 255)50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition-delay: 0.3s;
    transition-duration: 0.7s;
}

.listitem:hover {
    background-position: left;
}


/* ueberUns.html */

#headingChef {
    width: 100%;
    padding: 20px;
    margin: auto;
    font-weight: bold;
    float: left;
}

.chefs {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.chef {
    margin: 40px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.info {
    width: auto;
    max-width: 40%;
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: #bfddf133;
    opacity: 0.7;
}

.infotext {
    line-height: 230%;
}

.bild {
    width: auto;
    display: flex;
    justify-content: center;
}

.chef li {
    list-style-type: square;
}


/* spendeFormular.html */

.zurück {
    display: flex;
    align-items: center;
    color: #979797;
    padding: 1%;
}

#zurück {
    padding-left: 2%;
    padding-top: 1%;
    align-items: center;
    font-style: italic;
    color: #979797;
}

.spendeformular {
    padding-top: 20px;
    line-height: 3;
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
    background-color: #cae2ec;
    color: rgb(58, 58, 58);
}

.überschrift {
    font-size: larger;
    line-height: 1.5;
}

.spenderythmus {
    color: white;
}

.betrag {
    border: none;
    border-radius: 6px;
    width: 10%;
}

.inhaberInfo {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.links {
    width: 50%;
    align-items: center;
}

.rechts {
    width: 50%;
    align-items: center;
}

.kontoinhaber {
    display: flex;
    border: none;
    border-radius: 6px;
}

.kontoinhabertext {
    display: flex;
    text-align: left;
    justify-content: center;
}

.zahlungsdaten {
    border: none;
    border-radius: 6px;
}

.spendeButton {
    background-color: #EBF3F5;
    border-radius: 8px;
    border: none;
    padding: 10px;
}


/* @media (max-width: 600px) {
        .fan {
            flex-direction: column;
            background-color: black;
        }
    } */