@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: rgb(240, 240, 240);
    background: linear-gradient(90deg, rgba(240, 240, 240, 1) 0%, rgba(205, 205, 205, 1) 100%);
}

a {
    text-decoration: none;
}

.header {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header {
    background-color: gray;
    /* background-image: url("Hände.jpg"); */
    background-size: contain;
}

#logo {
    width: 200px;
    height: auto;
    padding-bottom: 40px;
}

h1 {
    color: #EBF3F5;
    size: 20px;
    font-weight: lighter;
    width: 30%;
}

nav {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(163, 162, 162);
}

.navelement {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: large;
}

.navelement a {
    color: #EBF3F5;
}

.navelement:hover {
    background-color: rgb(112, 112, 112);
    color: #84a7ba;
}

.heading {
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: xx-large;
    font-weight: 700;
}

footer {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    background-color: rgb(212, 212, 212);
    align-items: center;
    justify-content: space-evenly;
}

.footerelement {
    text-align: center;
}


/* index.html */

.fans {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.fan {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.fan .info {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    opacity: 0.7;
}

.fan .info .infotext {
    margin: 40px;
    line-height: 190%;
}

.fan .bild {
    width: 50%;
    display: flex;
    justify-content: center;
}


/* info.html */

.chefs {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.chef {
    width: 50%;
    display: flex;
    justify-content: center;
}

.chef .info {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    opacity: 0.7;
}

.chef .info .infotext {
    margin: 40px;
    line-height: 230%;
}

.chef .bild {
    width: 40%;
    display: flex;
    justify-content: center;
}

.chef li {
    list-style-type: square;
}


/* machMit.html */

.machMit {
    justify-content: space-around;
    margin: 60px;
    display: flex;
    flex-direction: row;
}

.links {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    text-decoration: none;
}

.rechts {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    text-decoration: none;
}


/* spendeFormular.html */

.zurück {
    display: flex;
    padding: 20px;
    color: #EBF3F5;
}

#zurück {
    padding-left: 2%;
    padding-top: 1%;
    align-items: center;
    font-style: italic;
    color: #EBF3F5;
}

.spendeformular {
    padding-top: 20px;
    line-height: 3;
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
    background-color: rgb(206, 206, 206);
}

.überschrift {
    font-size: larger;
    background-color: #EBF3F5;
}

.spenderythmus {}

.betrag {
    border: none;
    border-radius: 6px;
    width: 10%;
}


/* .betrag input[type=text]:focus {
    border-color: #add0e2;
} */

.zahlungsart {}

.kontoinhaber {
    border: none;
    border-radius: 6px;
}

.zahlungsdaten {
    border: none;
    border-radius: 6px;
}

.spendeButton {
    background-color: #EBF3F5;
    border-radius: 8px;
    border: none;
    padding: 10px;
}


/* @media (max-width: 600px) {
    .fan {
        flex-direction: column;
        background-color: black;
    }
} */